<% if(locals.user.role != 'admin') { -%>
	<%- include('partials/public-open', { title: 'reset password | sistem penerimaan pegawai' }) %>
<% } else { -%>
	<%- include('partials/dashboard-open', { title: 'reset password | sistem penerimaan pegawai' }) %>
<% } -%>


<div class="h-full flex justify-center items-center">
	<div class="w-96 py-12 mt-8 px-4 rounded bg-base-100" x-data="{
		password: '',
		confirm: '',
		errors: {
			password: null,
			confirm: null,
		},
		validate() {
			this.errors.password = this.password.length < 4 ?
				'Panjang Minimal 4 Karakter':
				null;

			this.errors.confirm = this.password != this.confirm ?
				'Password Tidak Cocok Dengan Konfirmasi Password':
				null;

			return !this.errors.password && !this.errors.confirm
		}
	}">
		<h3 class="text-xl text-center mb-8">Reset Password</h3>

		<form method="post" x-on:submit="validate() && $el.submit()">
			<div class="form-control w-full mb-12">
				<label for="password" class="label">Password Baru</label>
				<input 
					required 
					id="password" 
					name="password"
					type="password" 
					class="input input-bordered" 
					x-on:input="errors.password && validate()"
					x-bind:class="errors.password ? 'input-error':''" 
					x-model="password"
				>
				<p 
					class="label-alt text-error mt-2" 
					x-show="errors.password"
					x-text="errors.password"
				></p>
			</div>


			<div class="form-control w-full mb-12">
				<label for="confirm" class="label">Konfirmasi Password</label>
				<input 
					required 
					id="confirm" 
					type="password" 
					class="input input-bordered mb-2" 
					name="confirm"
					x-on:input="errors.confirm && validate()"
					x-bind:class="errors.confirm ? 'input-error':''" 
					x-model="confirm" 
				>
				<p 
					class="label-alt text-error mt-2" 
					x-show="errors.confirm"
					x-text="errors.confirm"
				></p>
			</div>

			<button class="btn btn-primary">Reset Password</button>
		</form>
	</div>
</div>

<% if (locals.user.role != 'admin') { -%>
	<%- include('partials/public-close') %>
<% } else { -%>
	<%- include('partials/dashboard-close', {active: 'home'}) %>
<% } -%>