<% if(locals.user.role != 'admin') { -%>
	<%- include('partials/public-open', { title: 'reset password | sistem penerimaan pegawai' }) %>
<% } else { -%>
	<%- include('partials/dashboard-open', { title: 'reset password | sistem penerimaan pegawai' }) %>
<% } -%>


<div class="h-full flex justify-center items-center">
	<div class="w-96 py-12 mt-8 px-4 rounded bg-base-100">
		<h3 class="text-xl text-center mb-8">Reset Password</h3>

		<form method="post" x-data="{ password: '', confirm: '',  initPassword: true, initConfirm: true }">
			<div class="form-control w-full mb-12">
				<label for="password" class="label">Password Baru</label>
				<input required id="password" x-on:change="initPassword = false" x-model="password" type="password" class="input input-bordered" name="password">
				<p class="label-alt text-error" x-show="!initPassword && password.length < 4">Panjang Minimal Password 4 Karakter</p>
			</div>


			<div class="form-control w-full mb-12">
				<label for="confirm" class="label">Konfirmasi Password</label>
				<input required id="confirm" x-on:change="initConfirm = false" x-model="confirm" type="password" class="input input-bordered mb-2" name="confirm">
				<p class="label-alt text-error" x-show="!initConfirm && confirm != password">Konfirmasi Password Tidak Sama Dengan Password</p>
			</div>

			<button x-show="password == confirm && password.length > 3" class="btn btn-primary">Reset Password</button>
		</form>
	</div>
</div>

<% if (locals.user.role != 'admin') { -%>
	<%- include('partials/public-close') %>
<% } else { -%>
	<%- include('partials/dashboard-close', {active: 'home'}) %>
<% } -%>