<%- include('../partials/dashboard-open', {title: 'posisi | sistem penerimaan pegawai'}) %>

<div class="mockup-window bg-base-100">
	<div class="p-4 bg-base-100">
		<a href="/dashboard-admin/posisi" class="btn btn-ghost mb-4 text-secondary">
			<i class="ph-arrow-fat-left mr-2"></i>
			kembali
		</a>

		<form method="post">
			<div class="form-control w-full mb-12" x-data="{ nama: '<%= posisi.nama %>', initNama: false }">
				<label for="input-posisi" class="label">Nama Posisi</label>
				<input id="input-posisi" type="text" class="input input-bordered" name="nama" value="<%= posisi.nama %>" x-model="nama" x-on:input="initNama = true" required>

				<p class="label-alt text-error" x-show="nama.trim().length < 1 && initNama">nama tidak boleh kosong</p>
			</div>
			
			<button class="btn btn-primary">
				<i class="ph-floppy-disk mr-2 text-xl"></i>
				update
			</button>
		</form>

	</div>
</div>
<%- include('../partials/dashboard-close', {active: 'posisi'}) %>